DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=db-mlservice.com
DJANGO_SITE_NAME=db-mlservice
DJANGO_SITE_DOMAIN=db-mlservice.com
DJANGO_REDIS_CACHE_ENABLED=False
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
ADMIN_EMAIL=admin@db-mlservice.com
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_DOMAIN_NAME=
AZURE_BLOB_ACCOUNT_NAME=
AZURE_BLOB_ACCOUNT_KEY=
AZURE_BLOB_CONTAINER_NAME=
AZURE_BLOB_CUSTOM_DOMAIN=
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379
CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers.DatabaseScheduler
SENTRY_ENABLED=False
SENTRY_DSN=
SENTRY_RELEASE=
DJANGO_CONTAINER_NAME=db-mlservice-django
DB_CONTAINER_NAME=db-mlservice-db
NGINX_CONTAINER_NAME=db-mlservice-nginx
NGINX_PROXY_CONTAINER_NAME=db-mlservice-nginx-proxy
NGINX_PROXY_LETSENCRYPT_CONTAINER_NAME=db-mlservice-nginx-proxy-letsencrypt
REDIS_CONTAINER_NAME=db-mlservice-redis
CELERY_CONTAINER_NAME=db-mlservice-celery
CELERY_BEAT_CONTAINER_NAME=db-mlservice-celery-beat