azure-common==1.1.28
azure-storage-blob==12.24.1
boto3==1.36.17
celery==5.4.0
Django==4.2.19
django-celery-beat==2.7.0
django-solo==2.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
gunicorn==23.0.0
joblib==1.4.2
numpy==2.2.2
openpyxl==3.1.5
pandas==2.2.3
Pillow==11.1.0
psycopg2==2.9.10
Pygments==2.19.1
redis==5.2.1
requests==2.32.3
scikit-learn==1.6.1
sentry-sdk==2.20.0
tqdm==4.67.1
ua-parser==1.0.1
git+https://github.com/djangomango/django-auto-admin.git@main
